<div class="row">
  <div class="col-md-3">
    <%= render partial: 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <%= t(:label_listing) %>
      </div>
      <div class="card-body">
        <div class="container">
          <%= render partial: 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>